[Unit]
Description=Buildbot Master
Wants=network.target
After=network.target

[Service]
PIDFile={{ buildbot_home }}/twistd.pid
WorkingDirectory={{ buildbot_home }}
Environment="VIRTUAL_ENV={{ buildbot_venv }}"
ExecStart={{ buildbot_venv }}/bin/twistd \
           --no_save --nodaemon --pidfile= --python=buildbot.tac
Restart=always
User={{ buildbot_user }}

[Install]
WantedBy=multi-user.target
